@page "/cars"
@using WeDriveRental.Models
@using WeDriveRental.Services
@inject IRentalCarService RentalCarService
@inject NavigationManager navigationManager
@rendermode InteractiveServer


@if(RentalCarService.RentalCars != null)
{	
	<div class="row">
	@foreach(var car in RentalCarService.RentalCars)
	{
		<div class="card col-4 d-flex flex-column">
			<h5>@car.Name</h5>
			<img class="card-img" src="@car.ImageUrl"/>
			<p>@car.Description</p>
			<p>Price per day: <span>@car.Price</span></p>
			<button @onclick="() => GoToBookCar(car.Id)"class="btn btn-primary mt-auto">Book!</button>
		</div>
	}

	</div>
}

@code {
	protected override async Task OnInitializedAsync()
	{
		RentalCarService.GetRentalCars();

	}

	void GoToBookCar(int id)
	{
		navigationManager.NavigateTo($"BookRentalCar/{id}");
		
	}
}
