@page "/cars"
@using WeDriveRental.Models
@using WeDriveRental.Services
@inject IRentalCarService RentalCarService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@if(RentalCarService.RentalCars != null)
{	
	<div class="row">
	@foreach(var car in RentalCars)
	{
		<div class="card col-4">
			<h5>@car.Name</h5>
			<img class="card-img" src="@car.ImageUrl"/>
			<p>@car.Description</p>
			<p>Price per day: <span>@car.Price</span></p>
			<button @onclick="GoToBookCar" class="btn btn-primary">Book!</button>
		</div>
	}

	</div>
}

@code {
	public List<RentalCar>? RentalCars { get; set; }
	protected override async Task OnInitializedAsync()
	{
		RentalCars = await RentalCarService.GetRentalCars();
	}

	void GoToBookCar()
	{
		
	}
}
